
h1 {
    margin: 20px 0;
  }
  

.separator {
    width: 100%;
    /* border: 2px solid rgba(0, 0, 0, 0.15);
     */
    background-color: rgba(0, 0, 0, 0.15);
    height: 2px;
    margin: 10px auto;
  }

.list-container {
    padding: 20px 0;
  }
  